* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #e5e5e5;
    font-family: 'Rubik', sans-serif;
}

.button {
    background-color: #e7e7e7;
    font-family: 'Rubik';
    font-weight: bold;
    padding: .3em .5em;
    border: 2px solid #b2b2b2;
    -webkit-box-shadow: 0 2px 8px -2px rgba(0,0,0,0.45);
    -moz-box-shadow: 0 2px 8px -2px rgba(0,0,0,0.45);
    box-shadow: 0 2px 8px -2px rgba(0,0,0,0.45);
}

.button:hover {
    cursor: pointer;
    background-color: #d4d4d4;
}

.button:active {
    background-color: #c4c4c4;
    -webkit-box-shadow: 0 0px 8px -2px rgba(0,0,0,0.45);
    -moz-box-shadow: 0 0px 8px -2px rgba(0,0,0,0.45);
    box-shadow: 0 0px 8px -2px rgba(0,0,0,0.45);
}

.button.toolbar-button {

}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#navbar {
    background-color: #c9c9c9;
    -webkit-box-shadow: 0 6px 8px -2px rgba(0,0,0,0.45);
    -moz-box-shadow: 0 6px 8px -2px rgba(0,0,0,0.45);
    box-shadow: 0 6px 8px -2px rgba(0,0,0,0.45);
    font-size: 1.2em;
    margin: 0 0 .5rem 0;
}

#navbar #menubar {
    padding: 0.4rem 0.8rem;
    border-bottom: 2px solid #c1c1c1;
    font-weight: 700;
}

#navbar #toolbar {
    padding: 0.8rem 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navbar #toolbar .toolbar-segment-left {}

#navbar #toolbar .toolbar-segment-center {}

#navbar #toolbar .toolbar-segment-right {}

#window {
    margin: 0 .5em;
    flex: 1 0;
    display: flex;
    flex-direction: row;
}

#window #canvas-container {
    width: 55%;
    margin-right: 0.5em;
    border: 2px solid #c3c3c3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .3em;
}

.canvas-label,.histogram-label {
    margin-bottom: .3em;
}

#window #canvas-container #image-canvas {
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
}

#window #histograms-container {
    width: 45%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .3em .3em;
    grid-template-areas:
	". ."
	". .";
}

#window #histograms-container .histogram {
    border: 2px solid #c3c3c3;
    padding: .3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#window #histograms-container .histogram .svg-hist {
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
}

#statusbar {
    background-color: #c5c5c5;
    margin-top: .5em;
    padding: 0.4rem 0.8rem;
    font-weight: 300;
}
